* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    margin-top: 5px;
    padding-left: 30px;
}

button {
    padding: 1px 6px;
}

.game {
    display: flex;
    flex-direction: row;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.info {
    margin-left: 20px;
}